<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dalwaapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <application
            android:name="com.example.dalwaapp.MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme.NoActionBar" android:fullBackupContent="@xml/backup_descriptor">
        <activity
                android:name="com.example.dalwaapp.Main2Activity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.dalwaapp.TransactionActivity"/>
        <activity android:name="com.example.dalwaapp.auth_activity.ChangePwdActivity"/>
        <activity android:name="com.example.dalwaapp.ProfileActivity"
                  android:exported="true">
        </activity>
        <activity android:name="com.example.dalwaapp.auth_activity.RegisterActivity"/>
        <activity android:name="com.example.dalwaapp.MainActivity"
                  android:exported="true"/>
        <activity android:name="com.example.dalwaapp.ProfileEditActivity"/>
        <activity android:name="com.example.dalwaapp.auth_activity.ForgotPwdActivity"/>
        <activity android:name="com.example.dalwaapp.AddSantriActivity"/>
        <activity android:name=".PaymentActivity"/>
        <activity android:name=".ConfirmActivity"
                  android:exported="true"/>
        <activity android:name=".auth_activity.LoginActivity"/>
        <activity android:name=".BillingActivity"/>
        <activity android:name=".TransactionDtActivity"/>
    </application>

</manifest>