<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dalwaapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <application
            android:name="com.example.dalwaapp.MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.dalwaapp.BillingActivity"/>
        <activity android:name=".TransactionProfileActivity"/>
        <activity android:name=".RedeemActivity"/>
        <activity android:name=".SubscriptionActivity"/>
        <activity android:name="com.example.dalwaapp.ChangePwdActivity"/>
        <activity android:name="com.example.dalwaapp.ProfileActivity"
                  android:exported="true">
        </activity>
        <activity android:name=".ProfileActivity2"
                  android:exported="true">
        </activity>
        <activity android:name=".ProfileActivity_old"/>
        <activity android:name="com.example.dalwaapp.RegisterActivity"/>
        <activity android:name="com.example.dalwaapp.MainActivity"
                  android:exported="true"/>
        <activity android:name=".MarketUpdateActivity"/>
        <activity android:name=".ProductListActivity"/>
        <activity android:name=".ProductProfileActivity"/>
        <activity android:name=".MarketUpdateListActivity"/>
        <activity
                android:name="com.example.dalwaapp.LoginActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.dalwaapp.ProfileEditActivity"/>
        <activity android:name="com.example.dalwaapp.ForgotPwdActivity"/>
        <activity android:name="com.example.dalwaapp.AddSantriActivity"/>
        <activity android:name=".PaymentActivity"/>
    </application>

</manifest>